.container {
  /* グリッドコンテナ */
  display: grid;
  /* 最小100px、最大1frの列を繰り返しつくる */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 10px;
  row-gap: 10px;
}

.thumb canvas {
  /* canvasタグのサイズを可変にする */
  width: 100%;
  height: auto;
}
